.menu-card-row1 {
    height: 175vh;
    background-color: white;
    overflow-y: auto;
}

.menu-card-row1::-webkit-scrollbar {
    display: none;
}

.menu-card-row-cols {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-card-container {
    width: 85%;
    margin: auto;
}

.menu-card {
    height: 80vh;
    background-color: black;
    border-radius: 15px;
    border: none;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.menu-card:hover {
    transform: scale(1.05);
}

.menu-card-img {
    border-radius: 15px 15px 0 0;
    height: 40vh;
    transition: transform 0.3s ease;
}

.menu-card:hover .menu-card-img {
    transform: scale(1.1);
}

.menu-card-body {
    height: 35vh;
}

.menu-card-title-container {
    height: 7vh;
}

.menu-card-title {
    color: white;
    text-align: center;
}

.menu-card-text-container {
    height: 15vh;
    margin-bottom: 10px;
}

.menu-card-text {
    color: white;
    font-weight: 400;
    text-align: center;
}

.menu-card-btn-container {
    height: 7vh;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-card-btn {
    transition: background-color 0.3s ease;
}

.menu-card-btn:hover {
    background-color: #898686;
}

@media only screen and (min-width: 481px) and (max-width: 820px) {
    .menu-card-row1 {
        height: 83vh;
    }

    .menu-card-text {
        text-align: center;
    }

    .menu-card-col {
        flex: 0 0 50%;
    }

    .menu-card-img {
        height: 20vh;
        object-fit: cover;
        border-radius: 0;
    }

    .menu-card {
        height: 55vh;
    }

    .menu-card-body {
        flex-grow: 1;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .menu-card-text {
        text-align: center;
    }

    .menu-card {
        height: 85vh;
    }

    .menu-card-btn {
        margin-top: 20vh;
    }
}