.menu-row1 {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    cursor: default;
    transition: background-color 0.3s ease;
}

.menu-row1:hover {
    background-color: lightgray;
}

.menu-row1 h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.menu-row2 {
    height: 7vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: default;
    transition: color 0.3s ease;
}

.menu-row2:hover {
    color: lightgray;
}

@media only screen and (min-width: 481px) and (max-width: 820px) {
    .menu-row1 h6 {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .menu-row2 h6 {
        font-size: 0.9rem;
    }
}