.footer-row {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: black;
    cursor: default;
}

.footer-h6 {
    font-size: 1rem;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-links span {
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
}

.social-links span:hover {
    opacity: 0.7;
}

.social-links span:hover svg {
    transform: scale(1.2);
}

/* Apply color to specific social media icons on hover */
.social-links span:hover .fa-facebook {
    color: #417bf8;
}

.social-links span:hover .fa-instagram {
    color: #c13584;
}